*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    font-size: 20px;
    overflow-x: hidden;
}


header{
    background-image: url('images/intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    
}

.cleaefix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
    padding-left: 50px;

}

.menu{
    float: right;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-right: 90px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 100;
}

.menu li:hover{
    border-bottom: 2px solid #2d043f;
    
}


.main-content-header{
    width: 1180px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1{
    color: rgb(8, 8, 8);
    font-size: 300%;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.btn{
    display: inline-block;
    padding: 20px 40px;
    font-size: 150%;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full{
    background-color: transparent;
    color: #2d043f;
    margin-right: 20px;
    border: 1px solid #2d043f;

}

.btn-full:hover{
    background-color: rgb(144, 118, 185);
}

.btn-nav{
    background-color: transparent;
    color: #68042a;
    border: 1px solid #68042a;
}

.btn-nav:hover{
    background-color: rgb(190, 101, 101);
}

.colorchange{
    animation: colorchangeportal 5s infinite;
}

@keyframes colorchangeportal{
    0%{color: darkred;}
    25%{color: floralwhite;}
    50%{color: initial;}
}

.mobile-icon{display: none;}

/*//////// Responsive queries ////////*/

@media only screen and (max-width: 1180px){
    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px){
    h1{font-size: 200%;}
}

@media only screen and (max-width: 768px){
    h1{font-size: 180%;}

    .menu{display: none;}

    .mobile-icon{display: inline-block;
         color: #fff;
        float: none;
        margin-top: 30px;
        margin-right: 20px;
    }
    .menu li{
        float: left;
        display: block;
        margin-top: 10px;
    }

    
}